@import '../../../scss/base/base';

@import '../../../scss/base/colors';

.signup-container {
  align-items: center;
  background: $dark-grey;
  border-top: 4px solid $blue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  min-height: 700px;
  text-align: center;
  width: 40%;
}

.signup-logo {
  width: 200px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 400px;
  width: 90%;
}

.signup-input {
  padding: 15px;
}

.signup-input-description {
  font-weight: 700;
  text-align: left;
}

.signup-green-button,
.signup-grey-button {
  background: $green;
  border-radius: 15px;
  color: $white;
  padding: 15px;
}

.signup-grey-button {
  background: $dark-grey;
  border: 2px solid $green;
  color: $green;
  width: 90%;

  &::before {
    border-top: 2px solid $grey-font;
    content: '';
    display: inline-block;
    margin: 0 20px;
    position: absolute;
    transform: translate(-50%, -45px);
    width: 35%;
  }
}

.signup-text-danger {
  color: $red;
  padding: 10px;
}
