@import '../../../scss/base/base';

@import '../../../scss/base/colors';

.signup-container {
  align-items: center;
  background: $dark-grey;
  border-top: 8px solid $blue;
  display: flex;
  flex-direction: column;
  height: 634px;
  justify-content: space-evenly;
  text-align: center;
  width: 300px;
}

.signup-logo {
  height: 70px;
  width: 212.42px;
}

.signup-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 400px;
  width: 90%;

  &::after {
    border-bottom: 2px solid $grey-font;
    content: '';
    display: inline-block;
    padding: 3%;
    width: 233px;
  }
}

.signup-green-button,
.signup-grey-button {
  background: $green;
  border-radius: 7px;
  color: $white;
  height: 32px;
  width: 252px;
}

.signup-green-button {
  margin-top: 25px;
}

.signup-grey-button {
  background: $dark-grey;
  border: 2px solid $green;
  color: $green;
  padding: 5px;
}

.signup-request-error {
  background: $red;
  border-radius: 5px;
  color: $white;
  padding: 10px;
  text-align: center;
  width: 90%;
}
