@import '../../../scss/base/colors';

.signup-input {
  padding: 15px;
}

.signup-input-description {
  font-weight: 700;
  padding: 5px 0;
  text-align: left;
}

.signup-text-danger {
  color: $red;
  padding: 10px;
}
