@import '../../../scss/base/colors';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.signup-input {
  border-radius: 5px;
  height: 32px;
  width: 252px;
}

.signup-input-description {
  color: $black;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  padding: 15px 0;
  text-align: left;
  width: 94%;
}

.signup-text-danger {
  color: $red;
  font-size: 12px;
}
