@import '../../../scss/base/base';

@import '../../../scss/base/colors';

.signup-container {
  align-items: center;
  background: $dark-grey;
  border-top: 8px solid $blue;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-evenly;
  text-align: center;
  width: 300px;
}

.signup-logo {
  height: 70px;
  width: 210px;
}

.signup-form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &::after {
    border-bottom: 2px solid $grey-font;
    content: '';
    display: inline-block;
    padding: 8px;
    width: 233px;
  }
}

.signup-green-button,
.signup-grey-button,
.login-loading-button {
  background: $green;
  border-radius: 5px;
  color: $white;
  width: 252px;
  height: 32px;
}

.signup-green-button {
  margin-top: 20px;

  &:disabled {
    background-color: lighten($color: $green, $amount: 10);
    cursor: disabled;
  }
}

.signup-grey-button {
  background: $dark-grey;
  border: 2px solid $green;
  color: $green;
  padding: 5px;
}

.signup-request-error {
  background: $red;
  border-radius: 5px;
  color: $white;
  padding: 10px;
  text-align: center;
  width: 90%;
}

.signup-input-description {
  width: 100%;
}
