@import '../../../scss/base/colors';

.home-container {
  align-items: center;
  background-color: $white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.book-detail-container {
  align-items: center;
  box-shadow: 7px 15px 18px -11px rgba(0, 0, 0, 0.75);
  height: 400px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 80%;
}

.description-container {
  height: 80%;
  width: 70%;
}

.book-image {
  height: 80%;
}

.book-title {
  align-items: center;
  border-bottom: 5px solid $green;
  display: flex;
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  text-align: left;
}

.genre {
  font-size: 24px;
  color: $font;
  font-weight: 400;
  margin-left: 10px;
}

.book-information {
  display: flex;
  padding: 5px;
}

.bold {
  font-weight: 700;
  margin-right: 10px;
}

.back-button {
  padding: 20px;
  width: 80%;

  a {
    font-size: 20px;
    color: $font;
  }
}

.chevron-left {
  border: 2px solid $green;
  border-radius: 50%;
  color: $blue;
  display: inline-block;
  height: 20px;
  text-align: center;
  width: 20px;
}

.arrow {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  width: 98px;
}
